@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
/*
Для шрифта вот
font-family: 'Poppins', sans-serif;
*/
*{
    margin: 0;
}
body{
    display: flex;
    height: 980px;
}
.leftpanel{
    width: 20%;
    background-color: #1C1C1C;
}
main{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #f8f8f8;
}
.greetings, .links, .news, .footer{
    border: solid 1px black;
}
.greetings{
    height: 150px;
}
.links{
    height: 120px;
}
.news{
    height: 570px;
}
.footer{
    height: 140px;
}
